{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="parallax"></div>
<div class="content">
    <h1>Welcome to BridgeFaithAI</h1>
    <p>Your platform for thoughtful debate and discussion.</p>
    <div class="boxes">
        <div class="box">
            <h2>Box 1</h2>
            <p>Some content here.</p>
        </div>
        <div class="box">
            <h2>Box 2</h2>
            <p>Some content here.</p>
        </div>
        <div class="box">
            <h2>Box 3</h2>
            <p>Some content here.</p>
        </div>
    </div>
</div>
{% endblock %}
